<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer list</title>
    <link rel="stylesheet" href="../static/css/styl.css" th:href="@{/css/styl.css}">
</head>
<body>
<p align="right">
    <a href="/logout">Logout</a>
</p>
<a href="/customer/new">Add new customer</a>
<table>
    <b>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Tools</th>
        </tr>
    </b>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}">33</td>
        <td th:text="${customer.firstName} + ' ' + ${customer.lastName}">Richard Berg</td>
        <td>
            <div th:text="${customer.phoneNumber}">email@example.com</div>
            <div th:text="${customer.email}">7002515115</div>
        </td>
        <td>
            <a th:href="${'/customer/' + customer.id}">Show details</a>
            <a th:href="${'/customer/update/' + customer.id}">Edit</a>
            <a th:href="${'/customer/delete/' + customer.id}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>