<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<h3 th:text="${title}"></h3>
<form method="post" action="#"
      th:action="@{/product/update}"
      th:object="${product}">
    <table>
        <tr>
            <td>Id</td>
            <td>
                <input type="text"
                       th:field="*{id}" readonly></input>
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text"
                th:field="*{name}"></input>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text"
                       th:field="*{price}"></input>
            </td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td>
                <input type="text"
                       th:field="*{quantity}"></input>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text"
                       th:field="*{description}"></input>
            </td>
        </tr>
        <tr>
            <td>imageUrl</td>
            <td>
                <input type="text"
                       th:field="*{imageUrl}"></input>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" th:text="${button}">Update</button></td>
        </tr>
    </table>
</form>

</body>
</html>